{%extends 'sent/base.html'%}


{% block title %} สมัครสมาชิก {% endblock title %}
{% block content %}

<div class="container-fluid vh-100" style="margin-top:100px">
    <div class="" style="margin-top:50px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Create Account</h3>
                </div>
                <div class="p-4">
                    <form  method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary"><i
                                class="bi bi-person-plus-fill text-white"></i></span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary"><i
                                class="bi bi-envelope text-white"></i></span>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-lock-fill text-white"></i></span>
                        <input type="password" class="form-control" placeholder="password">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-unlock-fill text-white"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="d-grid col-12 mx-auto">
                        <button class="btn btn-primary" type="button"><span></span> Sign up</button>
                    </div>
                </form>
                    
                </div>
            </div>
            <div class="col-md-4 d-sm-none d-md-block">
                <img src="https://source.unsplash.com/collection/190727/1000x900"
                    class="d-block w-100 img-fluid" alt="image">
            </div>
        </div>
    </div>
</div>

{% endblock content %}